<div *ngIf="policyDetail else notFoundTemplate" class="container">
    <p class="title">
        Click on renew button to renew the below policy
    </p>
    <div class="item">
        <label for="">Policy number:</label>
        <h4>
            <strong>{{policyDetail.policyNumber}}</strong>
        </h4>
    </div>

    <div class="item">
        <label for="">Policy Holder:</label>
        <h4>{{policyDetail.policyHolderName}}</h4>
    </div>

    <div class="item">
        <label for="">Sum Insured:</label>
        <h4>{{policyDetail.sumInsured | currency:'INR'}}</h4>
    </div>

    <button class="renew" routerLink="../../">Renew</button>
</div>

<ng-template #notFoundTemplate>
    <div class="container">
        <span class="not-found">
            Policy not found for renewal...
        </span>
    </div>
</ng-template>